
.body{
                        font-family: "Inter", sans-serif;
                    }
                          
                    
                    /*header style starts*/
                    .container-01{
                        width:1340px;
                        height: 715px;
                        background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(55, 55, 55, 0.62) 110.793%,rgba(119, 119, 119, 0) 100%);
                        padding-bottom:20px;
                        margin-left: 2px;
                        color:white;
                    }
                .border{
                        width: 400px;
                        height:40px;
                        border: 2px solid rgba(255, 255, 255, 0.5);
                        border-radius: 20px;
                        margin-top: 60px;
                        align-items: center;
                        margin-left: 10px;
                        margin-right: 50px;
                        align-items: center;
                    }
                        
                    .btn-6{
                        color:white;
                        background-color:rgb(230, 83, 60);
                        border-style: solid;
                        border-radius: 20px;
                        width:100px;
                        height:35px;
                        float: left;
                        margin-right:30px;
                        margin-left: 5px;
                        padding-top: 5px;
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-weight: 800;
                        
                    }
                    .red{
                        margin-left: 10px;
                        margin-bottom: 10px;
                        align-items: center;
                        text-align: center;
                    }
                    .flex-01{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    
                    }
                    .inline-1{
                        display:inline;
                        padding: 8px;
                    }
                    .list-resize{
                        margin-bottom: 6px;
                        vertical-align: middle;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        display: flex;
                        
                    
                    }
                    .list-resize li {
                        margin-right: 10px;
                        text-align: center;
                        font-weight: 700;
                    }
                    .fit-13{
                        margin-top:50px;
                        margin-left: 180px;
                        color:rgb(230, 83, 60);
                        font-style: italic;
                    }
                    .flex-13{
                        display: flex;
                        justify-content: space-between;
                        gap: 100px;
                    }
                    .big-13{
                        height:600px;
                        margin-right:130px;
                        margin-top: 30px;
                        margin-bottom: 100px;
                    }  
                    .transparent-1{
                        margin-left: 1000px;
                        margin-top: 0px;
                        }
                        .transparent-2{
                        
                        }
                        .miama{
                            font-size: 76px;
                            margin-left: 180px;
                            font-weight: 900;
                            
                        }
                        .huge{
                            font-size: 18px;
                            margin-left: 180px;
                            color: rgb(34, 34, 34);
                        }
                        .span-13{
                            font-family: "Grey Qo", cursive;
                            font-weight:100;
                            font-style: normal;
                            font-size: 125px;
                        }
                        .join{
                        margin-left: 180px;
                        width: 200px;
                        height:50px;
                        border-radius: 42px;
                        border:1px solid  rgb(230, 83, 60);
                        background: rgb(230, 83, 60);
                        color:white;
                        font-weight: 800;
                        }
                        .app{
                        width: 200px;
                        height: 50px;
                        font-weight: 800;
                        border-radius:42px ;
                        border: 2px solid rgb(34, 34, 34);
                        background-color: transparent;
                        color: white;
                        }
                        /*header style ends*/
                        /*change your habits start*/
                        .container-1{
                            width: 1340px;
                            height: 950px;
                            background-color: black;
                            color: white;
                            margin-left: 2px;
                            padding-top: 20px;
                        
                            
                        }
                        .change{
                         color: white;
                         margin-top: 50px;
                         font-weight:400px;
                         font-size: 30px;
                         
                        
                         
                        }
                        .des-1{
                        color: white;
                        color: rgba(255, 255, 255, 0.5);
                        }
                        .div-1{
                            margin-top: 50px;
                            width:600px;
                            height: 90px;
                            border: 2px solid black;
                            text-align: center;
                            align-items: center;
                            margin-left: 400px;
                        }
                        .img{
                            margin-top: 130px;
                            margin-left:190px;
                            display: grid;
                            grid-template-columns:220px 220px 220px 220px;
                            grid-gap: 40px;
                            
                        }
                        .radious{
                            border-radius:90px;
                        }
                        .center{
                            text-align: center;
                        }
                        .subtitle{
                            color:rgba(255, 255, 255, 0.5);
                            font-size:smaller;
                        }
                        .title{
                            font-size: large;
                        }
                        .box-item{
                            width:970px ; 
                            height:300px;
                            margin-top:100px;
                            margin-left:190px;
                            margin-right: 50px;
                            border-radius:10px;
                            background: rgb(34, 34, 34);
                            display: grid;
                            grid-template-columns: 300px 300px;
                            grid-gap: 380px;
                            
                        
                        }
                        .box-img{
                                width: 265px;
                                height: 260px;
                                margin-top:20px;
                                border-radius: 10px;
                                background-size:650px;
                                background-position:1050px top ;    
                        }
                        .box-text{
                            margin-left: 50px;
                            margin-top: 20px;
                            gap:15px;
                        }
                        .box-button{
                         width:240px;
                         height:40px;
                         border-radius: 25px;
                         border:1px solid rgb(230, 83, 60);
                         background:rgb(230, 83, 60);
                         color:white;
                         font-weight: 600;
                         font-size: 17px;
                         
                        }
                        .run{
                            font-size: 33px;
                            width: 500px;
                            font-weight: 900px;
                        }
                        .believe{
                            font-size:18px;
                            color:rgba(255, 255, 255, 0.5);
                            width: 700px;
                            height:75px;
                            
                        }
                        /*change your habits ends*/
                        /*Trainings part start*/
.container-6{
                        width: 1340px;
                        height: auto;
                        background-color: black;
                        padding-top: 1px;
                        color:black;
                        margin-left: 2px;
                        
                    }
                    .box-8{
                        width: 1000px;
                        height: 880px;
                        background-color: rgba(255, 255, 255, 0.5);
                        margin-left: 180px;
                        border-radius: 10px;
                       
                        
                        
                    }
                    .calender{
                        width: 530px;
                        height:auto;
                        background-color: white;
                        box-sizing: border-box;
                        margin-left:30px;
                        border-radius: 15px;
                        
                    
                        
                    }
                    .date{
                        display: grid;
                        grid-template-columns: repeat(auto-fit,minmax(25px,1fr));
                        grid-gap: 50px;
                        box-sizing: border-box;
                        margin-left:12px;
                        margin-bottom: 7px;
                        padding: 21px;
                        
                        
                    }
                    .day{
                        font-weight:700;
                        font-size: 30px;
                        
                    }
                    .day:first-child,
                    .number:nth-child(7n+1){
                        color:red;
                        font-weight: 800;
                        
                    }
                    .active{
                    background: #009688;
                    color:#fff;
                    font-weight: 800;
                    cursor: pointer;
                    }
                    .image-7{
                        width: 100%;
                        height: 350px;
                        background:url(images/exercise1.jpg);
                        background-size: cover;
                        padding-top: 25px;
                        margin-top: 0px;
                        display: block;
                        
                    }
                    
                    .fit-8{
                    margin-top: 2px;
                    margin-left: 150px;
                    font-weight: 900;
                    font-size: 30px;
                    }
                    .fit-9{
                        margin-left: 140px;
                        color:white;
                        display: block;
                    }
                    .flex-9{
                        display: flex;
                        gap: 60px;
                    }
                    .fit-10{
                        margin-left: 110px;
                        color: white;
                        
                    }
                    .information{
                        color:black;
                        font-size: large;
                        
                    }
                    .tr-10{
                    color:black;
                    font-size:medium;
                    line-height:30px ;
                    width: 350px;
                    height: 400px;
                    background-color:whitesmoke;
                    padding: 7px;
                    border-radius: 10px;
                    box-shadow:10px 20px 3px black ;
                    
                    }
                    
                    /*Trainings part ends*/
                    /*BMI start*/
                    .background{
                        background-color: black;
                        color: white;
                        height: 170px;
                        width: 1338px;
                        margin-top:0px;
                        padding-top: 2px;
                        margin-left: 2px;
                        
                    }
                    .text{
                        color: rgba(255, 255, 255, 0.5);
                        font-size: 15px;
                        margin-top: 0px;
                        
                    }
                    .left{
                        margin-left:340px;
                    }
                    /*BMI ends*/
                    /*BMI container starts*/
.background-1{
                        background-color:rgb(34, 34, 34);;  
                        padding-top:2px;
                        height: 395px;
                        width: 1340px;
                        display: flex;
                        margin-left: 2px;
                        gap: 40px;
                      }
                      .para{
                          display: grid;
                          grid-template-columns: 160px 140px;
                          grid-template-rows: repeat(5,40px);
                          margin-left: 180px;
                          color: white;
                         
                          
                      }
                      .left-2{
                          margin-left: 195px;
                          color:white;
                          margin-bottom: 40px;
                          
                      }
                      .border-3{
                          background-color: rgb(34, 34, 34);;
                          padding:20px;
                          border: 1px solid rgba(255, 255, 255, 0.1);
                      
                      }
                      
                      .font{
                          font-weight: bold;
                          font-size: 15px;
                      }
                      .font-2{
                          font-weight:300;
                          font-size: 12px;
                      }
                      .box-2{
                          width:700px;
                          height: 300px;
                          margin: 0 auto;
                          color: white;
                          margin-top: 5px;
                          
                      
                      }
                      .grid-3{
                          display: grid;
                          grid-template-columns: 270px 270px;
                          grid-template-rows: repeat(3,50px);
                          grid-gap: 7px;
                      
                      }
                      .border-4{
                          padding: 20px;
                          border-radius: 6px;
                          background: rgba(255, 255, 255, 0.1);
                          
                      }
                      .span{
                          grid-column: 1/-1;
                      }
                      .color-1{
                          color: rgba(255, 255, 255, 0.5);
                      }
                      .btn-4{
                          width: 120px;
                          height: 40px;
                          background-color: rgb(230, 83, 60);
                          border:0.5px solid rgb(230, 83, 60);
                          color:white;
                          font-size: 16px;
                          margin-top: 30px;
                          border-radius: 20px;
                      
                      }
                      
                      /*BMI container ends*/
                      /*meet starts*/
                      .meet-1{
                          background-color: black;
                          color:white;
                          width: 1340px;
                          height: 740px;
                          padding: 0px;
                          margin: 0 auto;
                      }
                      .our{
                      
                      margin-top:60px;
                      margin-left: 485px;
                      }
                      .we{
                      text-align: center;
                      margin-right: 210px;
                      color:rgba(255, 255, 255, 0.5);
                      }
                      .box-5{
                          width: 990px;
                          height: 460px;
                          background-color: rgba(255, 255, 255, 0.1);
                          justify-content: center;
                          align-items: center;
                          margin-left:170px ;
                          margin-top: 80px;
                          border-radius: 18px;
                          display:grid;
                          grid-template-columns: repeat(3,1fr);
                          grid-template-rows: repeat(3.1fr);
                          
                          
                          
                      }
                      .major{
                          width: 310px;
                          height: 200px;
                          border-radius: 18px;
                          background-position:top;
                          background-size: cover;
                          background: rgba(0, 0, 0, 0.2),url(image);
                          
                      }
                      .margin{
                          margin:10px;
                      }
                      .position{
                       margin-top: 140px;
                       margin-left: 15px;
                       gap: 2px;
                       margin-bottom: 0px;
                       font-size: 30px;
                       color:whitesmoke;
                      }
                      .position-1{
                          margin-left: 15px;
                          color: rgba(255, 255, 255, 0.5);
                          margin-bottom: 20px;
                          margin-top: 0px;
                          font-size: 20px;
                      }
                      /*meet ends*/
                      /*footer starts*/
.footer{
                        width: 1340px;
                        height: 490px;
                        background-color:rgb(34, 34, 34);
                        color: white;
                        padding-top: 1px;
                        margin-left: 2px;
                        
                    }
                    .flex{
                        display: flex;
                        gap: 200px;
                    }
                    .fitness-1{
                     font-style: italic;
                     font-size: 75px;
                     margin-left: 190px;
                     color: rgb(230, 83, 60);
                     margin-top: 70px;
                     margin-bottom: 15px;
                     font-weight:600;
                     
                     
                    }
                    .fitness-2{
                    color:rgba(255, 255, 255, 0.5);
                    margin-left: 190px;
                    margin-top: 15px;
                    }
                    .grid-5{
                        display: grid;
                        grid-template-columns: repeat(2,260px);
                        grid-template-rows: repeat(5,50px);
                        margin-top: 60px;
                        gap: 5px;
                    
                    }
                    .get{
                        color:white;
                        font-size: 30px;
                        
                    }
                    .color-5{
                        color: rgba(255, 255, 255, 0.5);
                        margin-top: 30px;
                        font-size: 20px;
                    }
                    .line-1{
                        width: 1000px;
                        height: 0px;
                        border: 2px solid  rgba(255, 255, 255, 0.5) ;
                        margin-top: 80px;
                        margin-left: 180px;
                    }
                       .all{
                        margin-top: 20px;
                        margin-left: 600px;
                        font-size: 20px;
                        color: rgba(255, 255, 255, 0.5);
                       } 
                        
                    
                    /*footer ends*/
                                  