
.body{
                        font-family: "Inter", sans-serif;
                    }
                          
                    
                    /*header style starts*/
                    .container-01{
                        width:1340px;
                        height: 715px;
                        background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(55, 55, 55, 0.62) 110.793%,rgba(119, 119, 119, 0) 100%);
                        padding-bottom:20px;
                        margin-left: 2px;
                        color:white;
                    }
                .border{
                        width: 400px;
                        height:40px;
                        border: 2px solid rgba(255, 255, 255, 0.5);
                        border-radius: 20px;
                        margin-top: 60px;
                        align-items: center;
                        margin-left: 10px;
                        margin-right: 50px;
                        align-items: center;
                    }
                        
                    .btn-6{
                        color:white;
                        background-color:rgb(230, 83, 60);
                        border-style: solid;
                        border-radius: 20px;
                        width:100px;
                        height:35px;
                        float: left;
                        margin-right:30px;
                        margin-left: 5px;
                        padding-top: 5px;
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-weight: 800;
                        
                    }
                    .red{
                        margin-left: 10px;
                        margin-bottom: 10px;
                        align-items: center;
                        text-align: center;
                    }
                    .flex-01{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    
                    }
                    .inline-1{
                        display:inline;
                        padding: 8px;
                    }
                    .list-resize{
                        margin-bottom: 6px;
                        vertical-align: middle;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        display: flex;
                        
                    
                    }
                    .list-resize li {
                        margin-right: 10px;
                        text-align: center;
                        font-weight: 700;
                    }
                    .fit-13{
                        margin-top:50px;
                        margin-left: 180px;
                        color:rgb(230, 83, 60);
                        font-style: italic;
                    }
                    .flex-13{
                        display: flex;
                        justify-content: space-between;
                        gap: 100px;
                    }
                    .big-13{
                        height:600px;
                        margin-right:130px;
                        margin-top: 30px;
                        margin-bottom: 100px;
                    }  
                    .transparent-1{
                        margin-left: 1000px;
                        margin-top: 0px;
                        }
                        .transparent-2{
                        
                        }
                        .miama{
                            font-size: 76px;
                            margin-left: 180px;
                            font-weight: 900;
                            
                        }
                        .huge{
                            font-size: 18px;
                            margin-left: 180px;
                            color: rgb(34, 34, 34);
                        }
                        .span-13{
                            font-family: "Grey Qo", cursive;
                            font-weight:100;
                            font-style: normal;
                            font-size: 125px;
                        }
                        .join{
                        margin-left: 180px;
                        width: 200px;
                        height:50px;
                        border-radius: 42px;
                        border:1px solid  rgb(230, 83, 60);
                        background: rgb(230, 83, 60);
                        color:white;
                        font-weight: 800;
                        }
                        .app{
                        width: 200px;
                        height: 50px;
                        font-weight: 800;
                        border-radius:42px ;
                        border: 2px solid rgb(34, 34, 34);
                        background-color: transparent;
                        color: white;
                        }
                        /*header style ends*/
                        /*change your habits start*/
                        .container-1{
                            width: 1340px;
                            height: 950px;
                            background-color: black;
                            color: white;
                            margin-left: 2px;
                            padding-top: 20px;
                        
                            
                        }
                        .change{
                         color: white;
                         margin-top: 50px;
                         font-weight:400px;
                         font-size: 30px;
                         
                        
                         
                        }
                        .des-1{
                        color: white;
                        color: rgba(255, 255, 255, 0.5);
                        }
                        .div-1{
                            margin-top: 50px;
                            width:600px;
                            height: 90px;
                            border: 2px solid black;
                            text-align: center;
                            align-items: center;
                            margin-left: 400px;
                        }
                        .img{
                            margin-top: 130px;
                            margin-left:190px;
                            display: grid;
                            grid-template-columns:220px 220px 220px 220px;
                            grid-gap: 40px;
                            
                        }
                        .radious{
                            border-radius:90px;
                        }
                        .center{
                            text-align: center;
                        }
                        .subtitle{
                            color:rgba(255, 255, 255, 0.5);
                            font-size:smaller;
                        }
                        .title{
                            font-size: large;
                        }
                        .box-item{
                            width:970px ; 
                            height:300px;
                            margin-top:100px;
                            margin-left:190px;
                            margin-right: 50px;
                            border-radius:10px;
                            background: rgb(34, 34, 34);
                            display: grid;
                            grid-template-columns: 300px 300px;
                            grid-gap: 380px;
                            
                        
                        }
                        .box-img{
                                width: 265px;
                                height: 260px;
                                margin-top:20px;
                                border-radius: 10px;
                                background-size:650px;
                                background-position:1050px top ;    
                        }
                        .box-text{
                            margin-left: 50px;
                            margin-top: 20px;
                            gap:15px;
                        }
                        .box-button{
                         width:240px;
                         height:40px;
                         border-radius: 25px;
                         border:1px solid rgb(230, 83, 60);
                         background:rgb(230, 83, 60);
                         color:white;
                         font-weight: 600;
                         font-size: 17px;
                         
                        }
                        .run{
                            font-size: 33px;
                            width: 500px;
                            font-weight: 900px;
                        }
                        .believe{
                            font-size:18px;
                            color:rgba(255, 255, 255, 0.5);
                            width: 700px;
                            height:75px;
                            
                        }
                        /*change your habits ends*/              